.skills-with-date-and-description h4 {
  margin: 26px 0 19px 0;
}

.skills-with-date-and-description h5 {
  margin: 19px 0 1px 0;
}

.skills-with-date-and-description .date,
.skills-with-date-and-description .description {
  display: block;
  margin: 1px 0;
}

.skills-with-date-and-description .date {
  text-transform: capitalize;
  color: #2c2b2e61;
}
