.skills-with-description h4 {
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
  margin: 5px 0 3px 0;
}

.skills-with-description h5 {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0;
}

.skills-with-description .skill {
  margin: 19px 0 19px 0;
}

.skills-with-description .description {
  margin: 4px 0 0 0;
}
