.main-menu a {
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #3e3c42;
  text-align: center;
  padding: 11px 25px;
}

.main-menu a:hover {
  background-color: #3e3c42;
  color: #fff;
}

.main-menu a.active {
  background-color: #3e3c42;
  color: #fff;
}

.main-menu ul {
  list-style-type: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
  display: flex;
  justify-content: flex-end;
}
