.main-description {
  width: 80%;
  align-self: center;
  margin-top: 60%;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}

.main-description h2 {
  margin-bottom: 0px;
}

.main-description .description {
  line-height: 145%;
  margin: 21px 5px 36px 5px;
}

.main-description .links {
  display: flex;
  justify-content: space-between;
}

.main-description a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  padding: 11px 48px;
  background-color: #3e3c42;
  font-weight: bold;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
}

.main-description a.selected {
  background-color: #ffbb1a;
  color: #3e3c42;
}

.main-description a:hover,
.main-description a:hover,
.main-description a:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}
