.main-menu a {
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #3e3c42;
  text-align: center;
  padding: 11px 25px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
}

.main-menu a.active {
  background-color: #3e3c42;
  color: #fff;
}

.main-menu ul {
  list-style-type: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
  display: flex;
  justify-content: flex-end;
}

.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}
