.owner-info {
  display: flex;
  flex-flow: row;
  margin: 10px 94px 0 130px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.owner-info .social-info {
  width: 60%;
}

.owner-info {
  border-bottom: 1px solid #3e3c42;;
}
