.project-img {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: -4;
  position: absolute;
}

.project-img img{
  max-width: 90%;
}

.project-description {
  width: 80%;
  margin: 30% auto;
}
.project-description h2 {
  margin: 20px 0;
}

.project-description p {
  margin: 20px 0 24px 0;
  line-height: 165%;
}

.project-description .links {
  display: flex;
  flex: row;
  align-items: center;
}

.project-description .button {
  margin-right: 10px;
  padding: 0 38px;
  display: flex;
  align-items: center;
  height: 38px;
  background-color: #3e3c42;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
}

.project-description a.button:hover, a.button:focus, a.button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}


.project-description .active {
  background-color: #FFBB1A;
}

.project-description a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.project-description a.active {
  color: #3e3c42;
}

.project-description .icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  font-size: 24px;
  background-color: #3e3c42;
}
