.skills {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 27px 94px 130px 145px;
}

.skills .left-section {
  width: 30%;
}

.skills .right-section {
  width: 60%;
}
